* {
  box-sizing: border-box;
}
.nav {
  display: flex;
  width: 100%;
  font-size: 2em;
  margin-bottom: 25px;
  justify-content: space-between;
}
.footer {
  text-align: center;
}
.cv {
  margin: 0 auto;
  width: 794px;
  height: 1100px;
  padding: 23px;
  border: 2px solid black;
}
.about-div {
  display: flex;
  justify-content: space-between;
}
.name-and-url {
  display: flex;
  flex-direction: column;
}
.email-phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.education-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.education-div {
  position: relative;
}
.education-submit {
  position: absolute;
  bottom: 0;
  left: 80px;
}
.institute-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.course-time {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.skill-form {
  display: flex;
  justify-content: space-between;
}
.skill-div {
  position: relative;
}
.skill-submit {
  position: absolute;
  bottom: 0;
  left: 80px;
}
.projects-div {
  position: relative;
}
.project-submit {
  position: absolute;
  bottom: 0;
  left: 80px;
}
.project-form {
  display: flex;
  flex-direction: column;
}
.project-detail {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.code-demo {
  display: flex;
  justify-content: space-between;
}
.jobs-div {
  position: relative;
}
.job-submit {
  position: absolute;
  left: 80px;
  bottom: 0;
}
.job-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.job-detail {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-job {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.time-place {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.achievement-div {
  position: relative;
}
.achievement-submit {
  position: absolute;
  bottom: 0;
  left: 80px;
}
.achievement-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#style-div input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #0b88ff;
  padding: 20px 2px 1px;
  transition: padding 0.4s;
  width: 100%;
}
#style-div input:placeholder-shown + label {
  color: #aaa;
  font-size: 15px;
  top: 16px;
}
#style-div input:focus + label,
#style-div label {
  color: #4476bd;
  font-size: 13px;
  pointer-events: none;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: top 0.4s, left 0.4s, font-size 0.4s;
}
#style-div input::placeholder {
  color: transparent;
  display: none;
}
input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #4476bd;
  outline: none;
}
#style-div {
  position: relative;
  width: 320px;
}
#style-div textarea {
  background: transparent;
  border: none;
  border-bottom: solid 1px #0b88ff;
  padding: 20px 2px 1px;
  transition: padding 0.4s;
  width: 100%;
}
#style-div textarea:placeholder-shown + label {
  color: #aaa;
  font-size: 15px;
  top: 16px;
}
#style-div textarea:focus + label,
#style-div label {
  color: #4476bd;
  font-size: 13px;
  pointer-events: none;
  position: absolute;
  left: 2px;
  top: 2px;
  transition: top 0.4s, left 0.4s, font-size 0.4s;
}
#style-div textarea::placeholder {
  color: transparent;
  display: none;
}
textarea:focus,
textarea:not(:placeholder-shown) {
  border-bottom: solid 1px #4476bd;
  outline: none;
}

hr {
  margin: 2px 0 2px 0;
}
button {
  border: 1px solid tomato;
  background-color: white;
  font-size: 15px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  transition: 0.4s;
  color: tomato;
  margin: 3px 0px 3px 0px;
}
button:hover {
  color: white;
  background-color: tomato;
}
form button {
  border: 1px solid #64f164;
  background-color: #4fdb61;
  font-size: 15px;
  padding: 4px 8px 4px 8px;
  cursor: pointer;
  transition: 0.4s;
  color: white;
  margin: 3px 0px 3px 0;
}
form button:hover {
  color: #4fdb61;
  background-color: white;
}
@media print {
  body * {
    visibility: hidden;
  }
  .cv,
  .cv * {
    visibility: visible;
  }
  .cv {
    border: none;
    position: absolute;
    left: 25px;
    top: 25px;
    right: 25px;
    bottom: 25px;
  }
  @page {
    margin: 0;
    size: A4;
  }
}
