form {
  display: flex;
  flex-direction: column;
}
.body {
  display: flex;
  justify-content: space-between;
}
.body :first-child {
  display: flex;
  flex-direction: column;
}
.body :last-child {
  display: flex;
  flex-direction: column;
}
.cv {
  margin: 0 auto;
  width: 612px;
  height: 792px;
}
.email-phone :nth-child(n) {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
